@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: MuseoSansCyrlRegular;
}
html,body{
	transition: .5s;
	opacity: 0;
}
button {
	outline: none !important;
}

.aboutBlock{
	position: relative;
	min-height: 100vh;
	color:rgb(125,135,111);
}
.defaultClip{
	position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}
	a.goMain{
		text-decoration: none;
		color: inherit;
		position: fixed;
		top: 5%;
		left: 5%;
	}
	a.goMain:hover{
		text-decoration: none;
		font-family: MuseoSansCyrlMedium;
	}	
.leftBlock{
	position: fixed;
	width: 15%;
	top: 30%;
	left: 5%;
}
ul{
	padding: 0;
	list-style: none;
}
	.menu{
		text-align: left;
		font-size: 16px;
	}
		.menu li{
			margin-bottom: 20px;
		}
		.menu li a{
			transition: .3s;
			display: block;
			width: 100%;
			color: inherit !important;
			text-decoration: none;
		}
		.menu li a:hover{
			font-family: MuseoSansCyrlMedium;
			text-decoration: none;
		}
.container{
	padding-left: 23%;
}
.topElements{
	padding: 5vh 0;
}
.topElements *{
	vertical-align: top;
	display: inline-block;
}
.topElements a.image {
	width: 17%;
}
.topElements img{
	width: 125px;
}
	.topElements h2{
		font-family: MuseoSansCyrlLight;
		font-size: 32px;
		width: 17%;
	}
	.topElements h3{
		font-family: MuseoSansCyrlLight;
		font-size: 18px;
		width: 20%;
		text-align: right;
	}
	.topElements h3 span.and-symbol{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}	
	.topElements strong{
		font-size: 18px;
		width: 50%;
		text-align: right;
	}
	.color-block{
		width: 20%;
		height: 27%;
		background-color: #d4bb89;
		color: rgb(30,30,30);
		cursor: pointer;
	}
	.right-top{
		position: absolute;
		right: 0;
		top: 0;
	}
		.color-block i{
			position: absolute;
			left: 15%;
			top: 25%;
			font-size: 20px;
		}
		.color-block p{
			position: absolute;
			left: 15%;
			bottom: 25%;
			font-size: 16px;
			font-family: MuseoSansCyrlBold;
		}
	div.emptyRow{
		margin-bottom: 5%;
	}
.content {
	width: 85%;
	font-size: 0;
}
.collage{
	position: relative;
	display: block;
}
.collage .largePhoto {
	z-index: -1;
	position: absolute;
	width: 65%;
	left: -100%;
	top: 20%;
}
	.collage .buttons {
		display: flex;
	    justify-content: center;
	    margin-top: 20px;
	    width: 100%;
	}
	.collage .buttons button {
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    background-color: white;
	    border: none;
		margin: 0px 20px;
		transition: .3s;
	}
	.collage .buttons button span {
		font-size: 20px;
	}
	.collage .buttons button:hover {
	    cursor: pointer;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);	    
	}	
	.collage h2.title{
		font-family: MuseoSansCyrlBold;
		font-size: 42px;
		text-decoration: none;
		color: rgb(30,30,30);
		white-space: nowrap;
	}
	.collage .photoTitle {
		float: right;
	    margin-right: 73%;
	    margin-top: 40px;
	}
	.collage .averagePhoto {
		position: absolute;
	    width: 70%;
	    left: 100%;
	    top: 150%;
	}
	.collage .smallPhoto {
		position: absolute;
	    width: 50%;
	    left: 170%;
	}
	.collage .signature p.signature-head {
		font-family: MuseoSansCyrlMedium;
		color: rgb(30, 30, 30);
		text-decoration: none;
	}
	.collage .signature p.signature-body {
		margin-top: 100px;
		font-family: MuseoSansCyrlRegular;
		color: rgb(30, 30, 30);
		font-size: 14px;
		line-height: 16px;
	}
	.average, .small {
		position: absolute;
	}
	.collage .large {
		float: right;
		width: 50%;
		position: relative;
		z-index: 2;
	}
	.collage .average {
		top: 110%;
		width: 95%;
	}
	.collage .small {
		left: 110%;
	    width: 50%;
	    bottom: -35%;
	}
	.collage .small p {
		text-align: right;
	}
	.collage .largePhoto img, .collage  .averagePhoto img, .collage  .smallPhoto img {
		width: 100%;
	}
div.footer{
	margin-top: 10vh;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	width: 70%;
	padding-left: 23%;
	font-size: 18px;
}
	div.footer .fa{
		font-size: 32px;
		margin-right: 20px;
		color: inherit;
		text-decoration: none;
		transition: .3s;
	}
	div.footer p{
		color: rgb(30, 30, 30);
	}
	div.footer .fa:hover{
		color: #d4bb89;
	}
.slider {
	position: relative;
}
.siema {
	position: relative;
	width: 100%;
	height: 80vh;
	top: 10vh;
}
	.siema .slide {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		width: 100%;
		left: 0;
		top: 0;
	}
	.siema .photo {
		position: relative;
		left: 50%;
		width: 50%;
	}
	.siema .photo img {
		width: 100%;
	}
	.siema .slide .text {
		position: absolute;
		width: 50%;
		top: 2vh;
	}
	.siema .slide .text h2 {
		left: 10%;
		position: absolute;
		font-size: 42px;
		text-decoration: none;
		font-family: MuseoSansCyrlBold;
		color: rgb(30, 30, 30);
	}
	.siema .slide .text i.increasedSymbol {
		position: absolute;
		font-size: 90px;
		font-family: MuseoSansCyrlBold;
		opacity: 0.4;
		top: 14vh;
	}
	.siema .slide .text p.description {
		position: absolute;
	    left: 12%;
	    width: 70%;
	    font-size: 18px;
	    font-family: MuseoSansCyrlRegular;
	    top: 25vh;
	    color: rgb(30, 30, 30);
	}
	.siema .slide .text p.employeeName {
	    position: absolute;
	    right: 17%;
	    font-size: 16px;
	    font-family: MuseoSansCyrlMedium;
	    top: 17vh;
	    color: rgb(30, 30, 30);
	}
	.slider div.buttons {
		position: absolute;
		top: 30vh;
		display: flex;
	    justify-content: center;
	    top: 60vh;
	    margin-left: 50%;
	    width: 50%;
	}	
	.slider div.buttons button {
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    background-color: white;
	    border: none;
		margin: 0px 20px;
		transition: .3s;
	}
	.slider div.buttons button span {
		font-size: 20px;
	}
	.slider div.buttons button:hover {
	    cursor: pointer;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);	    
	}
.mobileBlock {
	display: none;
}


div.firstBlock {
	width: 290px;
	display: inline-block;
	vertical-align: top;
	margin-top: 42px;
}
div.firstImage {
	width: 100%;
}
div.firstImage img {
	width: 100%;
}
div.firstParagraph {
	font-size: 14px;
    font-family: MuseoSansCurlRegular;
    padding: 25px 0px 0px 5px;
    color: rgb(30, 30, 30);
    min-width: 190px;
    max-width: 280px;
}


div.secondBlock {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-top: 246px;
}
div.secondImage {
	width: 100%;
}
div.secondImage img {
	width: 100%;
}
div.secondParagraph {
	color: rgb(30, 30, 30);
	font-size: 14px;
	font-family: MuseoSansCurlRegular;
	padding: 0px 15px 15px 15px;
	min-width: 180px;
	max-width: 180px;
}


div.thirdBlock {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
div.thirdImage {
	width: 145px;
}
div.thirdImage img {
	width: 100%;
}
div.text {
	position: relative;
	margin-bottom: 225px;
}
div.text h2.title {
	font-size: 32px;
	font-family: MuseoSansCyrlBold;
	text-decoration: none;
	color: rgb(30, 30, 30);
	white-space: nowrap;
}
div.text div.thirdParagraph {
	font-size: 14px;
	font-family: MuseoSansCurlRegular;
	padding-top: 10px;
	color: rgb(30, 30, 30);
	position: absolute;
}
div.text div.thirdParagraph p {
	position: relative;
}
	.text .buttons {
		position: relative;
		display: flex;
	    justify-content: center;
	    margin-top: 20px;
	    width: 100%;
	}
	.text .buttons button {
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    background-color: white;
	    border: none;
		margin: 0px 20px;
		transition: .3s;
	}
	.text .buttons button span {
		font-size: 20px;
	}
	.text .buttons button:hover {
	    cursor: pointer;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);	    
	}
