@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: MuseoSansCyrlRegular;
}
html,body{
	transition: .5s;
	opacity: 0;
}
.aboutBlock, .feedback {
	position: relative;
	min-height: 100vh;
	color:rgb(125,135,111);
}
.feedback{
	height: 85vh;
}
.defaultClip{
	position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}
	a.goMain{
		text-decoration: none;
		color: inherit;
		position: fixed;
		top: 5%;
		left: 5%;
	}
	a.goMain:hover{
		text-decoration: none;
		font-family: MuseoSansCyrlMedium;
	}	
.leftBlock{
	position: fixed;
	width: 15%;
	top: 30%;
	left: 5%;
}
ul{
	padding: 0;
	list-style: none;
}
	.menu{
		text-align: left;
		font-size: 16px;
	}
		.menu li{
			margin-bottom: 20px;
		}
		.menu li a{
			transition: .3s;
			display: block;
			width: 100%;
			color: inherit !important;
			text-decoration: none;
		}
		.menu li a:hover{
			font-family: MuseoSansCyrlMedium;
			text-decoration: none;
		}
.container{
	padding-left: 23%;
}
.topElements{
	padding: 5vh 0;
}
.topElements *{
	vertical-align: top;
	display: inline-block;
}
.topElements a.image {
	width: 17%;
}
.topElements img{
	width: 125px;
}
	.topElements h2{
		font-family: MuseoSansCyrlLight;
		font-size: 32px;
		width: 17%;
	}
	.topElements h3{
		font-family: MuseoSansCyrlLight;
		font-size: 18px;
		width: 20%;
		text-align: right;
	}
	.topElements h3 span.and-symbol{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}	
	.topElements strong{
		font-size: 18px;
		width: 50%;
		text-align: right;
	}
	.color-block{
		width: 20%;
		height: 27%;
		background-color: #d4bb89;
		color: rgb(30,30,30);
		cursor: pointer;
	}
	.right-top{
		position: absolute;
		right: 0;
		top: 0;
	}
		.color-block i{
			position: absolute;
			left: 15%;
			top: 25%;
			font-size: 20px;
		}
		.color-block p{
			position: absolute;
			left: 15%;
			bottom: 25%;
			font-size: 16px;
			font-family: MuseoSansCyrlBold;
		}
.content {
	margin-top: 7%;
	width: 70%;
}
div.map {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 75%;
	height: 73vh;
	background-color: none;
}
div.address {
	position: absolute;
	display: inline-block;
}
	div.address h2{
		position: relative;
		right: 45px;
		padding-top: 35px;
	}
	.contactsTitle {
		font-size: 56px;
		color: rgb(30, 30, 30);
		text-decoration: none;
		font-family: MuseoSansCyrlBold;
	}
	div.address p{
		padding-top: 25px;
		padding-left: 30px;
		font-size: 18px;
		color: rgb(30, 30, 30);
	}
	div.address p span.subtitle{
		font-family: MuseoSansCyrlBold;
		display: block;
		text-decoration: none;
		margin-bottom: 5px;
	}
	p.hint{
		margin-top: 5vh;
		padding: 1%;
		width: 38%;
		font-size: 18px;
    	color: rgb(30,30,30);
	}
	.feedback{
		display: flex;
		align-items: center;
	}
.feedback .title{
	font-family: MuseoSansCyrlBold;
	text-decoration: none;
	color: rgb(30, 30, 30);
	font-size: 62px;
}
form.mail{
	position: absolute;
	left: 55%;
	top: 30vh;
	width: 35%;
}
form.mail input, form.mail textarea{
	display: block;
	width: 100%;
	font-size: 16px;
	color: rgb(30,30,30);
	outline: none;
	border: none;
	border-bottom: 2px solid rgb(30,30,30);
	margin-bottom: 4vh;
	resize: vertical;
	padding: 8px 0;
	max-height: 23vh;
}
form.mail button{
	margin-top: 3vh;
	background-color: rgb(125,135,111);
	padding: 14px 18px;
	border: none;
	outline: none;
	color: white;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: MuseoSansCyrlMedium;
	float: right;
	cursor: pointer;
}
form.mail input::-webkit-input-placeholder,
form.mail textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(125,135,111);
}
form.mail input::-moz-placeholder, form.mail textarea::-moz-placeholder  { /* Firefox 19+ */
  color: rgb(125,135,111);
}
form.mail input:-ms-input-placeholder, form.mail textarea:-ms-input-placeholder  { /* IE 10+ */
  color: rgb(125,135,111);
}
form.mail input:-moz-placeholder, form.mail textarea:-moz-placeholder { /* Firefox 18- */
  color: rgb(125,135,111);
}
div.footer{
	position: absolute;
	left: 23%;
	bottom: 0;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	width: 66%;
	font-size: 18px;
}
div.footer .fa{
	font-size: 32px;
	margin-right: 20px;
	color: inherit;
	text-decoration: none;
	transition: .3s;
}
div.footer p{
	color: rgb(30, 30, 30);
}
div.footer .fa:hover{
	color: #d4bb89;
}
.mb-20{
	margin-bottom: 20vh;
}
.mobileBlock{
	display: none;
}