@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: MuseoSansCyrlRegular;
}
html,body{
	transition: .5s;
	opacity: 0;
}
.mobileBlock{
	display: none;
}

.aboutBlock{
	position: relative;
	padding-bottom: 10vh;
	color:rgb(125,135,111);
}
.defaultClip{
	position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 120%;
    clip: rect(0, auto, auto, 0);
}
	a.goMain{
		text-decoration: none;
		color: inherit;
		position: fixed;
		top: 5%;
		left: 5%;
	}
	a.goMain:hover{
		text-decoration: none;
		font-family: MuseoSansCyrlMedium;
	}	
.leftBlock{
	position: fixed;
	width: 15%;
	top: 30%;
	left: 5%;
}
ul{
	padding: 0;
	list-style: none;
}
	.menu{
		text-align: left;
		font-size: 16px;
	}
		.menu li{
			margin-bottom: 20px;
		}
		.menu li a{
			transition: .3s;
			display: block;
			width: 100%;
			color: inherit !important;
			text-decoration: none;
		}
		.menu li a:hover{
			font-family: MuseoSansCyrlMedium;
			text-decoration: none;
		}
.container{
	padding-left: 23%;
}
.topElements{
	padding: 5vh 0;
}
.topElements *{
	vertical-align: top;
	display: inline-block;
}
.topElements div.image {
	width: 17%;
}
.topElements img{
	width: 125px;
}
	.topElements h2{
		font-family: MuseoSansCyrlLight;
		font-size: 32px;
		width: 17%;
	}
	.topElements h3{
		font-family: MuseoSansCyrlLight;
		font-size: 18px;
		width: 20%;
		text-align: right;
	}
	.topElements strong{
		font-size: 18px;
		width: 50%;
		text-align: right;
	}
	.color-block{
		width: 20%;
		height: 27%;
		background-color: #d4bb89;
		color: rgb(30,30,30);
		cursor: pointer;
	}
	.right-top{
		cursor: text;
		position: absolute;
		right: 0;
		top: 0;
	}
		.color-block i{
			position: absolute;
			left: 15%;
			top: 25%;
			font-size: 20px;
		}
		.color-block p{
			position: absolute;
			left: 15%;
			bottom: 25%;
			font-size: 16px;
			font-family: MuseoSansCyrlBold;
		}
	div.emptyRow{
		margin-bottom: 10%;
	}
.content {
	margin-top: 10%;
	width: 80%;
}
.content div.depilationInMinsk {
	width: 80%;
}
	.content div.depilationInMinsk p {
		margin-top: 3vh;
		margin-bottom: 4vh;
		line-height: 20px;
		font-size: 18px;
		width: 85%;
		color: rgb(30,30,30);	
	}
div.advices {
	width: 100%;
}
	div.advices .advice {
		position: relative;
		display: inline-block;
		width: 25%;
		margin-right: 12%;
		margin-bottom: 30px;
	}
	div.advices .advice:nth-child(3) {
		margin-right: 0;
	}
	div.advices .advice:nth-child(4) {
		margin-bottom: 0;
	}
	div.advices .advice i.number {
		font-size: 70px;
		font-family: MuseoSansCyrlBold;
		opacity: 0.2;
	}
	div.advices .advice p {
		position: absolute;
		font-size: 16px;
	    font-size: 14px;
	    top: 4em;
	    left: 1.5em;
	    color: rgb(30, 30, 30);
	}
h2.title{
	font-family: MuseoSansCyrlBold;
	font-size: 42px;
	text-decoration: none;
	color: rgb(30,30,30);
}
.depilationBottomBlock {
	min-height: 0;
	padding: 0;
	height: auto;
	background-color: rgb(237, 237, 237);
	color: rgb(30, 30, 30);
}
.whiteClip{
	position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}
h2.depilationViewport2Header {
	position: absolute;
	top: -25px;
}
div.procedures {
	padding-top: 20vh;
}
	div.procedures .procedure {
		padding: 15px 0px;
		font-size: 14px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: .3s;
		border-bottom: 1px solid rgb(30, 30, 30);
	}
	div.procedures .procedure:hover {
		background-color: white;
		margin-left: -15px;
		padding-left: 15px;
		cursor: pointer;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		transform: translate(0, -2px);
		border-bottom: 1px solid white;		
	}
	div.procedures .procedure:nth-child(1) {
		padding: 0px 0px 30px 0px;
		border-bottom: none;
	}
	div.procedures .procedure:nth-child(1):hover {
		background-color: rgb(237, 237, 237);
		margin-left: 0;
		padding-left: 0;	
		cursor: default;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		transform: translate(0, 0px);				
	}
	div.procedures .procedure:hover .time, div.procedures .procedure:hover .price{
		display: none;
	}
	div.procedures .procedure p.procedureName {
		width: 60%;
	}
	.procedure p.time {		
		width: 10%;
	}
	.procedure p.price {		
		width: 10%;
	}
	.procedure p.booking {
		width: 15%;
	}
	.procedure:hover p.booking{
		display: block !important;
	}
	.procedureHeader {
		font-size: 18px;
	    font-family: MuseoSansCyrlMedium;
	    text-decoration: none;
	}
	.timeHeader, .priceHeader{
		width: 10%;
	}
div.footer{
		margin-top: 10vh;
		height: 10vh;
		display: flex;
		justify-content: space-between;
		width: 70%;
		padding-left: 23%;
		font-size: 18px;
	}
		div.footer .fa{
			font-size: 32px;
			margin-right: 20px;
			color: inherit;
			text-decoration: none;
			transition: .3s;
		}
		div.footer p{
			color: rgb(30, 30, 30);
		}
		div.footer .fa:hover{
			color: #d4bb89;
		}