@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: MuseoSansCyrlRegular;
}
html,body{
	transition: .5s;
	opacity: 0;
}
ul{
	padding: 0;
	list-style: none;
}
#flash_message {
	width: 20%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 40%;
    height: 34px;
    color: white;
    color: rgb();
    text-align: center;
    background-color: rgb(125, 135, 111);
}
.topBlock{
	transition: 1s;
	height: 100vh;
	background: 100% 100% no-repeat;
	background-color: none;
	background-size: cover;
	position: relative;
	color: white;
}
.mobile{
	display: none;
}
.topBlock .siema {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 0;
	background-color: rgb(30, 30, 30);
}
.topBlock .siema img {
	width: 100%;
}
.leftBlock{
	position: fixed;
	width: 15%;
	top: 30%;
	left: 5%;
}
.whiteClip{
	z-index: 99;
	position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}
.telefon{
	position: absolute;
	top:0;
	right: 0;
	width: 20%;
	padding: 5vh 0;
	text-decoration: none;
	color: white;
}
.aboutBlock .telefon {
	color: rgb(125,135,111);
}
.telefon strong{
	margin-left: 13%;
	font-size: 18px;
}
.menu{
	text-align: left;
	font-size: 16px;
}
	.menu li{
		margin-bottom: 20px;
	}
	.menu li a{
		transition: .3s;
		display: block;
		width: 100%;
		color: inherit !important;
		text-decoration: none;
	}
	.menu li a:hover{
		font-family: MuseoSansCyrlMedium;
		text-decoration: none;
	}
.container{
	padding-left: 23%;
}
.topContainer {
	position: absolute;
}
.topElements{
	padding: 5vh 0;
	margin-bottom: 5vh;
}
.topElements a.image {
	width: 17%;
}
.topElements a.topImage {
	width: 30%;
}
.topElements img{
	width: 125px;
}
.topElements.white strong{
	width: 53%;
}
.topElements *{
	vertical-align: top;
	display: inline-block;
}
.white *{
	color: white;
}
	.topElements h2{
		font-family: MuseoSansCyrlLight;
		font-size: 32px;
		width: 17%;
	}
	.topElements h3 span.and-symbol{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	.topElements h3{
		font-family: MuseoSansCyrlLight;
		font-size: 18px;
		width: 20%;
		text-align: right;
	}	
	.topElements strong{
		font-size: 18px;
		width: 50%;
		text-align: right;
	}
	.topContainer .topElements h3{
		font-family: MuseoSansCyrlLight;
		font-size: 18px;
		width: 35%;
		text-align: right;
	}	
div.emptyRow{
	margin-bottom: 10%;
}
.content {
	position: relative;
}
.content h1{
	margin-top: 10%;
	font-family: MuseoSansCyrlBold;
	font-size: 64px;
	/*text-decoration: none;*/
}

.content .paragraph{
	margin-top: 4%;
    margin-left: 24%;
    width: 38%;
}
	.content .paragraph h4{
		font-family: MuseoSansCyrlMedium;
		text-decoration: none;
		font-size: 18px;
	}
	.content .paragraph p{
		font-size: 18px;
		font-family: MuseoSansCyrlRegular;
	}
.slideButtons{
	margin-top: 40%;
}
	.slideButtons a{
		display: inline-block;
		text-decoration: none;
		color: white;
		font-size: 22px;
	}
	.slideButtons p{
		display: inline-block;
		font-size: 24px;
		margin: 0 10%;
	}
.color-block{
	width: 20%;
	height: 27%;
	background-color: #d4bb89;
	color: rgb(30,30,30);
	cursor: pointer;
}
.color-block.serv{
	height: 18%;
}
.color-block.hover{
	background: none;
	color:white;
	transition: .5s;
}
.black{
	color: rgb(30,30,30) !important;
}
.color-block.hover:hover{
	background-color: #d4bb89;
	color: rgb(30,30,30);
}
.right-bottom{
	position: absolute;
	right: 0;
	bottom: 0;
}
.right-top{
	position: absolute;
	right: 0;
	top: 0;
}
.color-block i{
	position: absolute;
	left: 15%;
	top: 25%;
	font-size: 20px;
}
.color-block p{
	position: absolute;
	left: 15%;
	bottom: 25%;
	font-size: 16px;
	font-family: MuseoSansCyrlBold;
}
.aboutBlock, .serviceBlock, .feedback{
	position: relative;
	min-height: 100vh;
	color:rgb(125,135,111);
}
.depilationAboutBlock {
	min-height: 100vh;
}
.defaultClip{
	position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}
	a.goMain{
		text-decoration: none;
		color: inherit;
		position: fixed;
		top: 5%;
		left: 5%;
	}
	a.goMain:hover{
		text-decoration: none;
		font-family: MuseoSansCyrlMedium;
	}	
img.about1{
	width: 37%;
	float: left;
}
.infoblock{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 40%;
	padding-left: 16%;
	padding-top: 12%;
}
.textBlock{
	color: rgb(30,30,30);
}
h2.title{
	font-family: MuseoSansCyrlBold;
	font-size: 42px;
	text-decoration: none;
	color: rgb(30,30,30);
}
h2.depilationViewport2Header {
	position: absolute;
	top: -0.7em;
}
p.infotext{
	margin-top: 4%;
	font-size: 16px;
	line-height: 20px;
	width: 95%;
	color: rgb(30,30,30);
}
.asideInfo{
	position: absolute;
	bottom: 0;
	left: 23%;
	height: 30%;
	color: rgb(30,30,30);
}
.asideInfo p.left{
	padding-top: 70px;
	width: 30%;
}
div.for-females{
	position: absolute;
	left: 23%;
	top: 43%;
	color: rgb(30, 30, 30);
}
p.title {
	text-decoration: none;
	text-align: left;
	font-family: MuseoSansCyrlMedium;
	padding-bottom: 2%;
}
div.for-females p.offers{
	width: 20%;
	font-size: 14px;
}
div.for-males{
	position: absolute;
	left: 45%;
	top: 78%;
	color: rgb(30, 30, 30);	
}
div.for-males p.offers{
	width: 29%;
	font-size: 14px;
}
div.for-children{
	position: absolute;
	left: 65%;
	top: 45%;
	color: rgb(30, 30, 30);	
}
div.for-children p.offers{
	width: 40%;
	font-size: 14px;
}
p.center{
	color: rgb(30,30,30);
	position: absolute;
	top: 70%;
	left: 51%;
	font-size: 18px;
	text-align: right;
	width: 11%;
}
img.center{
	position: absolute;
	left: auto;
	bottom: 0;
	height: 19%;
	max-width: 12%;
	overflow-x: hidden;
}
img.right{
	position: absolute;
	left: 63.5%;
	bottom: 19%;
	width: 9%;
}
.colorClip{
	position: relative;
	height: 32vh;
    width: 20%;
    background-color: #d4bb89;
}
.colorClip > div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    clip: rect(0, auto, auto, 0);
}
/*.serviceBlock{
	height: 95vh;
	padding-top: 5vh;
}*/
.priceBlock{
	position: relative;
	min-height: 95vh;
	background: rgb(237, 237, 237);
	color: rgb(30, 30, 30);
}
div.prices {
	padding-top: 20vh;
	padding-left: 10%;
	padding-right: 35%;
}
div.prices .article p.description{
	text-align: center;
	font-size: 14px;
	font-family: MuseoSansCyrlMedium;
	/*margin-bottom: 2vh;*/
}
div.prices .article div.pricing {
	padding: 3vh 0;
	display: flex;
	justify-content: space-around;
}
div.prices .article div.pricing p {
	font-size: 14px;
	font-family: MuseoSansCyrlRegular;
}
div.footer {
	padding-top: 50px;
	padding-bottom: 10px;
	color: rgb(125, 135, 111);
}
	div.footer h2 {
		font-family: MuseoSansCyrlLight;
		font-size: 32px;
		width: 200px;
		display: inline-block;	
	}
	div.footer p {
		display: inline-block;
		width: 200px;
		color: rgb(30, 30, 30);
		font-size: 14px;
		font-family: MuseoSansCyrlRegular;
		text-align: left;
		vertical-align: bottom;
	}
a.service{
	display: inline-block;
	width: 19%;
	margin: 0 3%;
	margin-top: 6vh;
	text-decoration: none;
	vertical-align: top;
}
a.service:nth-child(1),a.service:nth-child(3){
	margin-bottom: 15vh;
}
a.service:nth-child(2){
	margin-top: 10vh;
}
a.service:nth-child(1), a.service:nth-child(5){
	margin-left: 0;
	margin-right: .5%;
}
a.service:nth-child(7){
	margin-left: 29%;
}
	a.service div{
		transition: .5s;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		border: 2px solid rgb(125,135,111); 
		background: rgb(125,135,111);
		width: 8vh;
		height: 8vh;
		border-radius: 100px;
	}
	a.service div p{
		margin: 0;
		font-family: MuseoSansCyrlLight;
		font-size: 26px;
		transition: .5s;
	}
	a.service:hover div{
		border-color:  transparent;
	}
	a.service:hover > p{
		text-decoration: none;
	}
	a.service:hover div p{
		color: rgb(125,135,111);
	}
	a.service:hover div{
		background: white;
	}
	a.service:hover div p{
		transform: translate(0,-6px);
		text-shadow: 0px 0px 0px #b2a98f,
	                 0px 18px 10px rgba(0,0,0,0.15),
	                 0px 24px 2px rgba(0,0,0,0.1),
	                 0px 34px 30px rgba(0,0,0,0.1);
	}
	a.service p{
		margin-top: 2vh;
		color: rgb(30,30,30);
		text-decoration: none;
	}
	a.service div p{
		color: rgba(255,255,255,1)
	}
.textContainer{
	vertical-align: top;
	display: inline-block;
	width: 70%;
	margin-bottom: 7vh;
}
.feedback{
	height: 150vh;
	padding-top: 15vh;
}
.feedback .title{
	font-size: 62px;
}
form.mail{
	position: absolute;
	left: 55%;
	top: 20vh;
	width: 35%;
	z-index: 99;
}
form.mail input, form.mail textarea{
	display: block;
	width: 100%;
	font-size: 16px;
	color: rgb(30,30,30);
	outline: none;
	border: none;
	border-bottom: 2px solid rgb(30,30,30);
	margin-bottom: 4vh;
	resize: vertical;
	padding: 8px 0;
	max-height: 23vh;
}
form.mail button{
	margin-top: 3vh;
	background-color: rgb(125,135,111);
	padding: 14px 18px;
	border: none;
	outline: none;
	color: white;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: MuseoSansCyrlMedium;
	float: right;
	cursor: pointer;
}
form.mail input::-webkit-input-placeholder,
form.mail textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(125,135,111);
}
form.mail input::-moz-placeholder, form.mail textarea::-moz-placeholder  { /* Firefox 19+ */
  color: rgb(125,135,111);
}
form.mail input:-ms-input-placeholder, form.mail textarea:-ms-input-placeholder  { /* IE 10+ */
  color: rgb(125,135,111);
}
form.mail input:-moz-placeholder, form.mail textarea:-moz-placeholder { /* Firefox 18- */
  color: rgb(125,135,111);
}
.collage{
	position: relative;
	display: block;
}
.collage .largePhoto {
	position: absolute;
	width: 35%;
}
	.collage .buttons {
		display: flex;
	    justify-content: center;
	    margin-top: 20px;
	    width: 435px;
	}
	.collage .buttons button {
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    background-color: white;
	    border: none;
		margin: 0px 20px;
		transition: .3s;
	}
	.collage .buttons button span {
		font-size: 20px;
	}
	.collage .buttons button:hover {
	    cursor: pointer;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);	    
	}	
	.collage h2.title{
		font-family: MuseoSansCyrlBold;
		font-size: 42px;
		text-decoration: none;
		color: rgb(30,30,30);
	}
	.collage .photoTitle {
		float: right;
	    margin-right: 317px;
	    margin-top: 40px;
	}
	.collage .averagePhoto {
		position: absolute;
	    width: 70%;
	    left: 100%;
	    top: 150%;
	}
	.collage .smallPhoto {
		position: absolute;
	    width: 50%;
	    left: 170%;
	}
	.collage .signature p.signature-head {
		font-family: MuseoSansCyrlMedium;
		color: rgb(30, 30, 30);
		text-decoration: none;
	}
	.collage .signature p.signature-body {
		margin-top: 100px;
		font-family: MuseoSansCyrlRegular;
		color: rgb(30, 30, 30);
		font-size: 14px;
		line-height: 16px;
	}
	.average, .small {
		position: absolute;
	}
	.collage .large {
		float: right;
		width: 435px;
		position: relative;
		z-index: 2;
	}
	.collage .average {
		top: 120%;
		width: 270px;
	}
	.collage .small {
		left: 110%;
	    width: 160px;
	    bottom: -35%;
	}
	.collage .small p {
		text-align: right;
	}
	.collage .largePhoto img, .collage  .averagePhoto img, .collage  .smallPhoto img {
		width: 100%;
	}
	div.map {
		margin-top: 45vh;
		display: inline-block;
		position: relative;
		overflow: hidden;
		left: 27%;
		width: 60%;
		height: 60vh;
		background-color: none;
	}
	div.address {
		position: absolute;
		display: inline-block;
		left: 0;
		bottom: 0;
	}
		div.address h2{
			position: relative;
			padding-top: 35px;
			left: 58%;
			margin-bottom: 10vh;
		}
		.contactsTitle {
			font-size: 56px;
			color: rgb(30, 30, 30);
			text-decoration: none;
			font-family: MuseoSansCyrlBold;
		}
		div.address p{
			padding-top: 25px;
			font-size: 18px;
			color: rgb(30, 30, 30) !important;
		}
		div.address p span.subtitle{
			font-family: MuseoSansCyrlBold;
			display: block;
			text-decoration: none;
			margin-bottom: 5px;
		}
	div.footer{
		position: absolute;
		left: 23%;
		bottom: 0;
		height: 10vh;
		display: flex;
		justify-content: space-between;
		width: 70%;
		font-size: 18px;
	}
	div.footer .fa{
		font-size: 32px;
		margin-right: 20px;
		color: inherit;
		text-decoration: none;
		transition: .3s;
	}
	div.footer p{
		color: rgb(30, 30, 30);
	}
	div.footer .fa:hover{
		color: #d4bb89;
	}

div.firstBlock {
	width: 290px;
	display: inline-block;
	vertical-align: top;
	margin-top: 42px;
}
div.firstImage {
	width: 100%;
}
div.firstImage img {
	width: 100%;
}
div.firstParagraph {
	font-size: 14px;
    font-family: MuseoSansCurlRegular;
    padding: 25px 0px 0px 5px;
    color: rgb(30, 30, 30);
    min-width: 190px;
    max-width: 280px;
}


div.secondBlock {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-top: 241px;
}
div.secondImage {
	width: 100%;
}
div.secondImage img {
	width: 100%;
}
div.secondParagraph {
	color: rgb(30, 30, 30);
	font-size: 14px;
	padding: 0px 15px 15px 15px;
	min-width: 130px;
	max-width: 180px;
	font-family: MuseoSansCyrlRegular;
}


div.thirdBlock {
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}
div.thirdImage {
	width: 200px;
}
div.thirdImage img {
	width: 100%;
}
div.text {
	position: relative;
	margin-bottom: 155px;
}
div.text h2.title {
	font-size: 32px;
	font-family: MuseoSansCyrlBold;
	text-decoration: none;
	color: rgb(30, 30, 30);
	white-space: nowrap;
}
div.text div.thirdParagraph {
	font-size: 14px;
	font-family: MuseoSansCurlRegular;
	padding-top: 10px;
	color: rgb(30, 30, 30);
	position: absolute;
}
div.text div.thirdParagraph p {
	position: relative;
}
	.text .buttons {
		position: relative;
		display: flex;
	    justify-content: center;
	    margin-top: 20px;
	    width: 100%;
	}
	.text .buttons button {
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    background-color: white;
	    border: none;
		margin: 0px 20px;
		transition: .3s;
	}
	.text .buttons button span {
		font-size: 20px;
	}
	.text .buttons button:hover {
	    cursor: pointer;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);	    
	}

div.procedures {
	padding-top: 0vh;
	color: rgb(30, 30, 30);
}
	div.procedures .procedure, div.procedures a.procedure {
		padding: 15px 0px;
		font-size: 14px;
		width: 87%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: .3s;
		border-bottom: 1px solid rgb(30, 30, 30);
	}
	div.procedures .procedure:hover {
		background-color: white;
		margin-left: -15px;
		padding-left: 15px;
		cursor: pointer;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		transform: translate(0, -2px);
		transition: .3s;
		border-bottom: 1px solid white;		
	}
	div.procedures .procedure:nth-child(1) {
		padding: 0px 0px 30px 0px;
		border-bottom: none;
	}
	div.procedures .procedure:nth-child(1):hover {
		background-color: white;
		margin-left: 0;
		padding-left: 0;	
		cursor: default;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		transform: translate(0, 0px);				
	}
	div.procedures .procedure p.procedureName {
		width: 60%;
	}
	div.procedures .procedure:hover .time, div.procedures .procedure:hover .price{
		display: none;
	}
	.procedures a.procedure {
		color: rgb(30, 30, 30);
		text-decoration: none;
	}
	div.procedures .procedure p.procedureName {
		width: 60%;
	}
	div.procedures .procedure:hover .time, div.procedures .procedure:hover .price{
		display: none;
	}
	.procedure:hover a.booking{
		display: block !important;
	}
	.procedure p.time {		
		width: 12%;
	}
	.procedure p.price {		
		width: 12%;
	}
	.procedure a.booking {
		text-decoration: none;
		color: rgb(30, 30, 30);
		width: 15%;
		text-align: right;
		padding: 0 2%;
	}
	.timeHeader, .priceHeader{
		width: 12%;
	}
	.procedureHeader {
		font-size: 18px;
	    font-family: MuseoSansCyrlMedium;
	    text-decoration: none;
	}
	div.serviceBlock {
		min-height: 100vh !important;
	}


@media screen and (min-width: 1600px) {
    .content h1{
		margin-top: 11%;
	}
	.slideButtons{
		margin-top: 13%;
	}
	.content .paragraph{
		margin-top: 9%;
		width: 36%;
		font-size: 16px;
	}
}