@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: MuseoSansCyrlRegular;
}
html,body{
	transition: .5s;
	opacity: 0;
}
.aboutBlock{
	position: relative;
	min-height: 100vh;
	color:rgb(125,135,111);
}
.defaultClip{
	position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}
	a.goMain{
		text-decoration: none;
		color: inherit;
		position: fixed;
		top: 5%;
		left: 5%;
	}
	a.goMain:hover{
		text-decoration: none;
		font-family: MuseoSansCyrlMedium;
	}	
.leftBlock{
	position: fixed;
	width: 15%;
	top: 30%;
	left: 5%;
}
ul{
	padding: 0;
	list-style: none;
}
	.menu{
		text-align: left;
		font-size: 16px;
	}
		.menu li{
			margin-bottom: 20px;
		}
		.menu li a{
			transition: .3s;
			display: block;
			width: 100%;
			color: inherit !important;
			text-decoration: none;
		}
		.menu li a:hover{
			font-family: MuseoSansCyrlMedium;
			text-decoration: none;
		}
.container{
	padding-left: 23%;
}
.topElements{
	padding: 5vh 0;
}
.topElements *{
	vertical-align: top;
	display: inline-block;
}
.topElements div.image {
	width: 17%;
}
.topElements img{
	width: 125px;
}
	.topElements h2{
		font-family: MuseoSansCyrlLight;
		font-size: 32px;
		width: 17%;
	}
	.topElements h3{
		font-family: MuseoSansCyrlLight;
		font-size: 18px;
		width: 20%;
		text-align: right;
	}
	.topElements strong{
		font-size: 18px;
		width: 50%;
		text-align: right;
	}
	.color-block{
		width: 20%;
		height: 27%;
		background-color: #d4bb89;
		color: rgb(30,30,30);
		cursor: pointer;
	}
	.right-top{
		position: absolute;
		right: 0;
		top: 0;
	}
		.color-block i{
			position: absolute;
			left: 15%;
			top: 25%;
			font-size: 20px;
		}
		.color-block p{
			position: absolute;
			left: 15%;
			bottom: 25%;
			font-size: 16px;
			font-family: MuseoSansCyrlBold;
		}
	div.emptyRow{
		margin-bottom: 10%;
	}
.content {
	width: 75%;
	font-size: 0;
}
.content div.manicureInMinsk {
	vertical-align: top;
	width: 65%;
	display: inline-block;
}
.content div.manicureInMinsk p {
	margin-top: 10px;
    font-size: 18px;
    line-height: 20px;
    width: 90%;
    color: rgb(30,30,30);
}
.benefits p{
	font-size: 16px;
}
a.benefit{
	vertical-align: top;
	display: inline-block;
	width: 20%;
	margin: 0;
	margin-top: 7vh;
	margin-right: 15%;
	margin-bottom: 80px;
	text-decoration: none;
}
.benefits a.benefit:nth-child(2){
	margin-right: 15%;
}
	a.benefit div{
		transition: .5s;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		border: 2px solid rgb(125,135,111);
		background: rgb(125,135,111);
		width: 50px;
		height: 50px;
		border-radius: 100px;
	}
	a.benefit div p{
		margin: 2%;
		font-family: MuseoSansCyrlLight;
		font-size: 26px;
		transition: .5s;
		color: white;
	}
	a.benefit:hover div{
		border-color:  transparent;
		background: transparent;
	}
	a.benefit:hover > p{
		text-decoration: none;
	}
	a.benefit:hover div p{
		color: rgb(125,135,111);
		transform: translate(0,-6px);
		text-shadow: 0px 0px 0px #b2a98f,
	                 0px 18px 10px rgba(0,0,0,0.15),
	                 0px 24px 2px rgba(0,0,0,0.1),
	                 0px 34px 30px rgba(0,0,0,0.1);
	}
	a.benefit p{
		margin-top: 15px;
		color: rgb(30,30,30);
		text-decoration: none;
	}
.largePhoto {
	position: relative;
	width: 39%;
}
	h2.title{
		font-family: MuseoSansCyrlBold;
		font-size: 42px;
		text-decoration: none;
		color: rgb(30,30,30);
	}
	.photoTitle {
		position: absolute;
		left: 175%;
	}
	.averagePhoto {
		position: absolute;
	    width: 75%;
	    left: 100%;
	}
	.smallPhoto {
		position: absolute;
	    width: 50%;
	    left: 175%;
	    bottom: 0;
	}
	.signature {
		padding: 10px;
	}
	.signature p.signature-head {
		font-size: 16px;
		font-family: MuseoSansCyrlMedium;
		color: rgb(30, 30, 30);
		text-decoration: none;
	}
	.signature p.signature-body {
		margin-top: 15px;
		font-family: MuseoSansCyrlRegular;
		color: rgb(30, 30, 30);
		font-size: 14px;
	}
	.large, .average, .small {
		position: absolute;
	}
	.largePhoto img, .averagePhoto img, .smallPhoto img {
		width: 100%;
	}
.manicureBottomBlock {
	min-height: 0;
	height: auto;
	background-color: rgb(237, 237, 237);
	color: rgb(30, 30, 30);
}
.whiteClip{
	position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}
h2.manicureViewport3Header {
	position: absolute;
	top: -25px;
}
div.procedures {
	padding-top: 20vh;
}
	div.procedures .procedure {
		padding: 15px 0px;
		font-size: 14px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: .3s;
		border-bottom: 1px solid rgb(30, 30, 30);
	}
	div.procedures .procedure:hover {
		background-color: white;
		margin-left: -15px;
		padding-left: 15px;
		cursor: pointer;
		-webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.4);
		transform: translate(0, -2px);
		transition: .3s;
		border-bottom: 1px solid white;		
	}
	div.procedures .procedure:nth-child(1) {
		padding: 0px 0px 30px 0px;
		border-bottom: none;
	}
	div.procedures .procedure:nth-child(1):hover {
		background-color: rgb(237, 237, 237);
		margin-left: 0;
		padding-left: 0;	
		cursor: default;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
		transform: translate(0, 0px);				
	}
	div.procedures .procedure p.procedureName {
		width: 60%;
	}
	div.procedures .procedure:hover .time, div.procedures .procedure:hover .price{
		display: none;
	}
	.procedure:hover p.booking{
		display: block !important;
	}
	.procedure p.time {		
		width: 12%;
	}
	.procedure p.price {		
		width: 12%;
	}
	.procedure p.booking {
		width: 15%;
		padding: 0 2%;
	}
	.timeHeader, .priceHeader{
		width: 10%;
	}
	.procedureHeader {
		font-size: 18px;
	    font-family: MuseoSansCyrlMedium;
	    text-decoration: none;
	}
	div.footer{
		margin-top: 10vh;
		height: 10vh;
		display: flex;
		justify-content: space-between;
		width: 70%;
		padding-left: 23%;
		font-size: 18px;
	}
		div.footer .fa{
			font-size: 32px;
			margin-right: 20px;
			color: inherit;
			text-decoration: none;
			transition: .3s;
		}
		div.footer p{
			color: rgb(30, 30, 30);
		}
		div.footer .fa:hover{
			color: #d4bb89;
		}
.mobileBlock {
	display: none;
}