@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

@media screen and (max-width: 1200px) {
	.aboutBlock {
		display: none;
	}
	.feedback {
		display: none;
	}
	.mobileBlock {
		position: relative;
		display: block;
		height: 100vh;
	}
	
	.mobileBlock .header{
		z-index: 98;
        position: absolute;
        top: 0;
        left: 0;
        width: 86%;
        padding: 20px 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobileBlock .header .fa-bars{
        font-size: 36px;
    }
    .mobileBlock .tel{
        text-decoration: none;
        color: rgb(30, 30, 30) !important;
        font-size: 18px;
        font-family: MuseoSansCyrlBold;
    }	
	.content {
		position: relative;
		width: 85%;
		padding-left: 10%;
		padding-right: 5%;
		padding-top: 15vh;
		margin-top: 0;
	}
	h2.title{
		font-family: MuseoSansCyrlBold;
		font-size: 28px;
		text-decoration: none;
		color: rgb(30,30,30);
		padding-bottom: 5vh;
	}
	p.description{
		width: 90%;
		font-family: MuseoSansCyrlRegular;
		font-size: 13px;
		color: rgb(30,30,30);
		padding-bottom: 5vh;		
	}
	a.nextSlide {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: none;
		background-color: white;
		outline: none;
		font-family: MuseoSansCyrlBold;
		font-size: 30px;		
		color: rgb(125,135,111);
	}
	div.procedures {
		background-color: rgb(125,135,111);
	    padding-top: 0;
	    margin-top: 5vh;
	    padding: 5vh 5% 5vh 5%;
	    margin-left: 2.5%;	
	    color: white;
	}
	div.procedures {
		width: 85%;
	}
	div.procedures .procedure {
		background-color: rgb(125,135,111) !important;
		margin-left: 0px !important;
		padding-left: 0px !important;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4) !important;
		-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4) !important;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4) !important;
		transform: none !important;
		border-bottom: 0px solid rgb(125,135,111) !important;	
	}
	div.procedures .procedure:hover .time, div.procedures .procedure:hover .price{
		display: block;
	}		
	div.procedures .procedure p.procedureName {
		width: 75%;
		font-size: 20px;
	}
	div.time-and-price {
		width: 25%;
	}
	div.time-and-price i.time{
		line-height: 24px;
		display: block;
		font-size: 30px;
	}
	div.time-and-price span {
		display: block;
		padding-left: 5%;
	}
	div.time-and-price i.price {
		line-height: 24px;
		padding-top: 15px;
		display: inline-block;
		font-size: 30px;
	}
	div.time-and-price i.price p.cent{
		vertical-align: top;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		line-height: 13px;
	}
	div.procedures .table-top {
		margin-bottom: 10px;
		text-align: center; 
		font-family: MuseoSansCyrlBold;
		padding-left: 5%;
		padding-right: 5%;
		font-size: 24px;
	}
	div.procedures .table-top span{
		float: left;
		font-size: 30px;
	}	
}