@media screen and (max-width: 1200px) {
    .topBlock{
        height: auto;
    }
    .topContainer{
        display: none;
    }
    .telefon{
		display: none;
	}
    .mob{
        width: 100%;
    }
    .topBlock .siema{
        display: none;
    }
    .whiteClip{
        display: none;
    }
    .color-block{
        display: none;
    }
    .mobile{
        display: block;
        font-size: 0;
    }
    a.nodecoration{
		text-decoration: none !important;
	}	
	div.goToServices{
        color: rgb(30, 30, 30) !important;
		outline: none;
		width: 100%;
		padding: 20px 0px;
		text-align: center;
		background-color: #d4bb89;
		color: white;
		border: none;
		font-size: 20px;
	}
	div.goToServices div {
		width: 80%;
		padding-left: 7%;
		display: flex;
		justify-content: space-between;
	}
	div.goToServices div p {
        color: rgb(30, 30, 30);
		width: 95%;
		font-family: MuseoSansCyrlBold;
    }
    .mobile .header{
        position: absolute;
        top: 0;
        left: 0;
        width: 86%;
        padding: 20px 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile .header .fa-bars{
        font-size: 36px;
    }
    .mobile .tel{
        text-decoration: none;
        color: white !important;
        font-size: 18px;
        font-family: MuseoSansCyrlBold;
    }
    .aboutBlock{
        display: none;
    }
    .defaultClip{
        display: none;
    }
    .colorClip{
        display: none;
    }
    .container{
        width: 86%;
        padding: 0 7%;
    }
    .serviceBlock{
        height: auto;
        min-height: auto;
    }
    .textContainer{
        display: block;
        width: 100%;
        margin-bottom: 1vh;
    }
    a.service{
        width: 47%;
        margin: 0 !important;
        margin-right: 4% !important;
        margin-top: 3vh !important; 
    }
    a.service div{
        width: 10vh;
        height: 10vh;
    }
    a.service:nth-child(2n + 1){
        margin: 0 !important;
        margin-top: 3vh !important;     
    }
    .feedback .container h2.title{
        display: none;
    }
    .feedback .container form{
        display: none;
    }
    .feedback .container .contactsTitle{
        font-size: 42px;
        position: static;
        margin-bottom: 3vh;
    }
    div.address{
        position: relative;
    }
    div.map{
        display: none;
    }
    .feedback{
        height: auto;
        min-height: auto;
        padding-top: 0;
    }
    div.footer{
        position: static;
        width: 100%;
        padding: 0;
        display: block;
        height: auto;
        padding-top: 5vh;
        text-align: center;
    }
    div.footer p{
        text-align: center;
        padding-top: 3vh;
        font-size: 18px;
    }
    div.footer p:nth-child(2){
        display: none;
    }
    .mobile h1{
        position: absolute;
        left: 10%;
        top: 20%;
        font-size: 42px;
        font-family: MuseoSansCyrlBold;
        /*text-decoration: none;*/
    }
    .timeHeader {
        width: 21%;
    } 
    .priceHeader {
        text-align: right;
        width: 25%;
    }
    .serviceTitle {
        padding-top: 35px;
        margin-bottom: 3vh;
    } 
    div.procedures {
        margin-top: 3vh;
    }
    div.procedures a.procedure, div.procedures .procedure {
        width: 100%;
    }
    div.procedures .procedure:nth-child(1) {
        padding: 0 !important;
    } 
    .procedure a.booking {
        width: 35%;
        text-align: right;
    }
    div.procedures .procedure p.procedureName {
        width: 50%;
    }   
    .procedure p.time {
        width: 21%;
    }
    .procedure p.price {
        text-align: right;
        width: 25%;
    }              
}