@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

@media screen and (max-width: 1200px) {
	.aboutBlock {
		display: none;
	}
	.feedback {
		display: none;
	}
	.mobileBlock {
		position: relative;
		display: block;
		height: 100vh;
	}
	
	.mobileBlock .header{
		z-index: 98;
        position: absolute;
        top: 0;
        left: 0;
        width: 86%;
        padding: 20px 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobileBlock .header .fa-bars{
        font-size: 36px;
    }
    .mobileBlock .tel{
        text-decoration: none;
        color: rgb(30, 30, 30) !important;
        font-size: 18px;
        font-family: MuseoSansCyrlBold;
    }	
	.content {
		position: relative;
		width: 85%;
		padding-left: 10%;
		padding-right: 5%;
		padding-top: 15vh;
		margin-top: 0;
	}
	h2.title{
		font-family: MuseoSansCyrlBold;
		font-size: 42px;
		text-decoration: none;
		color: rgb(30,30,30);
		padding-bottom: 5vh;
	}
	p.description{
		width: 90%;
		font-family: MuseoSansCyrlRegular;
		font-size: 13px;
		color: rgb(30,30,30);
		padding-bottom: 5vh;		
	}
	a.nextSlide {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: none;
		background-color: white;
		outline: none;
		font-family: MuseoSansCyrlBold;
		font-size: 30px;		
		color: rgb(125,135,111);
	}
	/*.mobileSiema {
		position: relative;
		width: 85%;
		padding-left: 10%;
		padding-right: 5%;
		height: auto;
	}
	.mobileSiema .slide {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		width: 100%;
		left: 0;
		top: 0;		
	}
	.mobileSiema .slide .photo {
		width: 50%;
		position: relative;
		left: 35%;
	}
	.mobileSiema .slide .photo img{
		width: 100%;
	}*/	
	div.address {
		position: relative;
		width: 85%;
		padding-left: 10%;
		padding-right: 5%;
	}
	div.address p{
		padding-left: 0;
		padding-bottom: 5vh;
		font-size: 16px;
		color: rgb(30, 30, 30);
	}
	div.address p span.subtitle{
		padding-bottom: 2vh;
		font-family: MuseoSansCyrlBold;
		display: block;
		text-decoration: none;
		margin-bottom: 5px;
	}
	span.marker {
		font-size: 50px;
		color: rgb(125,135,111);
	}
	a.nodecoration{
		text-decoration: none !important;
	}	
	div.goToServices{
		outline: none;
		width: 90%;
		margin: 17% 5% 5vh 5%;
		padding: 20px 0px;
		text-align: center;
		background-color: rgb(125,135,111);
		color: white;
		border: none;
		font-size: 20px;
		font-family: MuseoSansCyrlBold;
	}
	div.goToServices div {
		width: 80%;
		padding-left: 7%;
		display: flex;
		justify-content: space-between;
	}
	div.goToServices div p {
		width: 95%;
		font-family: MuseoSansCyrlBold;
	}
}