@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

@media screen and (max-width: 1200px) {
	body {
		overflow-x: hidden;
	}
	.aboutBlock {
		display: none;
	}
	.mobileBlock {
		position: relative;
		display: block;
		height: 100vh;
	}
	
	.mobileBlock .header{
		z-index: 98;
        position: absolute;
        top: 0;
        left: 0;
        width: 86%;
        padding: 20px 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobileBlock .header .fa-bars{
        font-size: 36px;
    }
	.mobileBlock .tel{
        text-decoration: none;
        color: rgb(30, 30, 30) !important;
        font-size: 18px;
        font-family: MuseoSansCyrlBold;
    }    
	.content {
		position: relative;
		width: 85%;
		padding-left: 10%;
		padding-right: 5%;
		padding-top: 15vh;
	}
	h2.title{
		font-family: MuseoSansCyrlBold;
		font-size: 42px;
		text-decoration: none;
		color: rgb(30,30,30);
		padding-bottom: 5vh;
	}
	p.description{
		width: 90%;
		font-family: MuseoSansCyrlRegular;
		font-size: 13px;
		color: rgb(30,30,30);
		padding-bottom: 5vh;		
	}
	a.nextSlide {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: none;
		background-color: white;
		outline: none;
		font-family: MuseoSansCyrlBold;
		font-size: 30px;		
		color: rgb(125,135,111);
	}
	.mobileSiema {
		position: relative;
		width: 85%;
		padding-left: 10%;
		padding-right: 5%;
		height: auto;
	}
	.mobileSiema .slide {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		width: 100%;
		left: 0;
		top: 0;		
	}
	.mobileSiema .slide .photo {
		width: 50%;
		position: relative;
		left: 35%;
	}
	.mobileSiema .slide .photo img{
		width: 100%;
	}	
	a.nodecoration{
		text-decoration: none !important;
	}	
	div.goToServices{
		outline: none;
		width: 90%;
		margin: 17% 5% 5vh 5%;
		padding: 20px 0px;
		text-align: center;
		background-color: rgb(125,135,111);
		color: white;
		border: none;
		font-size: 20px;
		font-family: MuseoSansCyrlBold;
	}
	div.goToServices div {
		width: 80%;
		padding-left: 7%;
		display: flex;
		justify-content: space-between;
	}
	div.goToServices div p {
		width: 95%;
		font-family: MuseoSansCyrlBold;
	}
	.services{
		/*position: relative;*/
		margin-top: 5vh;
		width: 85%;
		padding-left: 10%;
		padding-right: 5%;

	}
	.services a.service {
		width: 43%;
		margin: 0 3%;
		margin-bottom: 5vh;
		text-decoration: none;
		display: inline-block;
	}
	.services a.service:nth-child(2n) {
		margin-right: 0;
	}
	a.service div{
		transition: .5s;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		border: 2px solid rgb(125,135,111); 
		background: rgb(125,135,111);
		width: 10vh;
		height: 10vh;
		border-radius: 100px;
	}
	a.service div p{
		margin: 0;
		font-family: MuseoSansCyrlLight;
		font-size: 26px;
		transition: .5s;
	}
	a.service:hover div{
		border-color:  transparent;
	}
	a.service:hover > p{
		text-decoration: none;
	}
	a.service:hover div p{
		color: rgb(125,135,111);
	}
	a.service:hover div{
		background: white;
	}
	a.service:hover div p{
		transform: translate(0,-6px);
		text-shadow: 0px 0px 0px #b2a98f,
	                 0px 18px 10px rgba(0,0,0,0.15),
	                 0px 24px 2px rgba(0,0,0,0.1),
	                 0px 34px 30px rgba(0,0,0,0.1);
	}
	a.service p{
		margin-top: 2vh;
		color: rgb(30,30,30);
		text-decoration: none;
	}
	a.service div p{
		color: rgba(255,255,255,1)
	}		
}