@media screen and (max-width: 1200px) {
	.mobileMenu {
		position: fixed;
		width: 100%;
		min-height: 100vh;
		top: 0%;
		background-color: #d4bb89;
		left: -100%;
		z-index: 99;
		transition: .5s;
	}
	.mobileMenu a.closeMenu{
		color: rgb(30, 30, 30) !important;
	    text-decoration: none;
	    position: absolute;
	    left: 7%;
	    top: 5vh;
	    font-size: 32px;
	}
	.mobileMenu ul.menu {
		position: absolute;
		left: 7%;
		top: 15vh;
		width: 86%;
	}
	.mobileMenu ul.menu li{
		width: inherit;
		color: rgb(30, 30, 30);
		line-height: 40px;
		font-size: 32px;
		text-decoration: none;
	}			
}