/* See Soon - Coming Soon/Under Construction Responsive Template
Author: EGrappler.com
Tags: Dark, coming soon, under construction, black, one column
*/

body{
	color: rgb(125, 135, 111);
	font:18px/28px 'Raleway', sans-serif;
	font-weight:300;
	font-size: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* General  */

a:focus{
	outline:none;
}
h1, h2, h3, h4, h5, h6{
	font-family:'Coustard', sans-serif;
	margin:0;
	padding:0;
	font-weight:300;
}
h1{
	font-size:72px;
}
h2{
	font-size:40px;
}
h3{
	font-size:36px;
}
h4{
	font-size:30px;
}
h5{
	font-size:24px;
}
h6{
	font-size:18px;
}

/* Header  */

#header p{
	font-size: 16px;
}
	.header-overlay{
		background:white;
		height: 70vh;
		padding: 10vh 0;		
	}
	.container img{
		width: 50%;
	}
/* Footer  */

#footer{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 10vh;
	font-size:15px;
	text-align:center;
	background:rgba(250,221,214,0.9);
	color: rgb(125, 135, 111);
}

#footer p {margin:10px; }
	
	
	/* Responsive */
	
	
		
/* Contact Style Starts */

	#contact h3, .address, #contact-form .form-group{
		text-align:center;
	}
	#contact-area{
		padding-bottom:20px;
	}
	
}



@media (max-width: 767px) {

/* Countdown Style Starts */

	ul.countdown li{
		display:inline-block;
		margin:5px;
		padding:0;
	}
		ul.countdown li span{
			width:100px;
			height:100px;
			display:block;
			font-size:48px;
			font-weight:300;
			line-height:100px;
			border:2px solid #fff;
			-webkit-border-radius:50%;
			   -moz-border-radius:50%;
					border-radius:50%;
		}
		ul.countdown li p{
			padding:15px 0;
		}

/* Contact Style Starts */

	#contact h3, .address, #contact-form .form-group{
		text-align:center;
	}
	#contact-area{
		padding-bottom:20px;
	}

/* Footer Style Starts */

	#footer ul.sm-links li a span{
		width:45px;
		height:45px;
		line-height:42px;
		font-size:20px;
	}
	.copyright{
		font-size:16px;
	}
	
}