<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <creating-form 
                        :service="service" 
                        :mode="'create'" 
                        :categories="categories"
            ></creating-form>
            <div class="saveButtons">
                <div class="buttons">
                    <button class="btn btn-primary btn-md saveButton" @click="save()">Создать</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                service: {
                    name: '',
                    category_id: '',
                    time: '',
                    price: ''
                },
                categories: []
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
            this.load();
        },

        methods: {

            async load () {
                this.categories = await this.$http.get(`categories`);
            },

            async save () {
                const data = new FormData();
                for (let key in this.service) {
                    if (this.service[key] === null) {
                        return;
                    }         
                    data.append(key, this.service[key]);
                }

                try {
                    let response = await this.$http.post('services', data);
                    // await this.load();
                    this.service = {
                        name: '',
	                    category_id: '',
	                    time: '',
	                    price: ''                 
                    };
                    return
                } catch (e) {}
            }
        }
    }
</script>
