<template>
    <div>
        <div class="row creating-row">
            <div class="col-md-6">
                <input type="text" class="form-control" v-model="service.name" placeholder="Введите название услуги">
            </div>
            <div class="col-md-6">
                <select class="form-control" v-model="service.category_id" size="1">
                    <option value="">Выберите категорию</option>
                    <option v-for="category, idx in categories" :key="category.id" :value="category.id">{{category.name}}</option>
                </select>
            </div>       
        </div>
        <div class="row creating-row">
            <div class="col-md-6">
                <input type="number" class="form-control" min="0" v-model="service.time" placeholder="Введите время услуги">
            </div> 
			<div class="col-md-6">
                <input type="number" class="form-control" min="0" v-model="service.price" placeholder="Введите цену услуги">
            </div>                             
        </div>
    </div>
</template>

<script>
    export default {
        props: ['service', 'mode', 'categories'],
        data() {
            return {
            }
        },
        methods: {
        }
    }
</script>
