<template>
    <div class="private-panel-body main-block">
        <div class="white-panel">
            <div class="row">
                <h2>
                    {{title}}
                </h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control filter" placeholder="Введите название услуги" v-model="filterName">
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="own-type-file">
                        <button  class="btn btn-xs btn-primary" @click="postFile">Загрузить на сервер</button> 
                        <label for="uploader" class="custom-label" accept=".xlsx, .xls, .csv">
                            Загрузить CSV-файл
                        </label>
                        <input type="file" @change="onFileChange" id="uploader">{{selectedFileName}}
                    </div>                      
                </div>
            </div>
            <div class="private-table-scrolling">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Название услуги</td>
                            <td>Категория</td>
                            <td></td>
                            <td></td>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr @dblclick="$router.push(`/services/${service.id}`)" v-for="service, idx in servicesFilter" :key="idx">
                            <td>
                                {{service.name}}
                            </td>
                            <td>
                                {{service.category.name}}
                            </td>
                            <td>
                                <button class="btn btn-xs btn-warning editButton" @click="$router.push(`/services/${service.id}`)">Редактировать
                                </button>
                            </td>                        
                            <td>
                                <button class="btn btn-xs btn-danger deleteButton" @click="deleteservice(service)">Удалить</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                services: [],
                filterName: '',
                selectedFileName: '',
                selectedFile: []
            }
        },

        created () {
        },

        mounted() {
            this.load();
        },

        computed: {
            servicesFilter: function () {
                let globalContext = this;
                return this.services.filter(function (service) {
                    return (service.name.indexOf(globalContext.filterName) !== -1);
                })                
            }
        },

        methods: {
            async load () {
                this.services = await this.$http.get('services');
            },

            async deleteservice (service) {
                let response = await this.$http.delete(`services/${service.id}`);
                await this.load();
            },

            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                  if (!files.length)
                    return;
                  this.uploadFile(files[0]);
            },

            uploadFile (file) {
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.selectedFile = e.target.result;
                };
                reader.readAsText(file);
            },

            fileParse () {

            },

            async postFile () {
                // await this.fileParse();
                console.log(this.selectedFile);
                return;
                let data = new FormData();
                data.append('services', this.selectedFile);
                await this.$http.post('service_file', data);
                await this.load();
            }
        }
    }
</script>
